.container__h1--center{
    text-align: center;
}

.container__nav--border{
    /*border: 1px solid red;*/
    margin: auto;
}

.collapse__a--border{
    border-left: 1px solid black;
}

.container__enlaces--center{
    text-align: center;
}

.container__row--padding{
    padding: 0px 0px 30px 0px;
}

.container__img--margin{
    margin: 5px;
}

.color{
    background-color: blue;
}